header {
    background-image: url('https://media.licdn.com/dms/image/D4E16AQHgYYtfQved4A/profile-displaybackgroundimage-shrink_350_1400/0/1669681245719?e=1690416000&v=beta&t=Ht0M2OwVqEqB6yjCxdcQeVHtScwZ_AT6KjeA_z3bOkE');
}

.foto {
    width: 15%;
    margin: auto;
    display: flex;
}

div {
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(176, 196, 222, 0.9);
    text-align: center; 
    margin-top: 0.02%;
    margin-bottom: 0.02%;
}

h2 {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
    background-color: rgb(176, 196, 222);
    line-height: 30px;
    border-radius: 25px;
    text-align: center; 
}

main {
    text-align: center;
}
footer {
    font-size: 20px;
    color: black;
    background-color: white;
    text-align: center;
}

.Logo {
    width: 2%;
}

p{
    text-indent: 5em;
}