header {
    background-image: url('https://media.licdn.com/dms/image/D4E16AQHgYYtfQved4A/profile-displaybackgroundimage-shrink_350_1400/0/1669681245719?e=1690416000&v=beta&t=Ht0M2OwVqEqB6yjCxdcQeVHtScwZ_AT6KjeA_z3bOkE');
}

.foto {
    width: 15%;
    margin: auto;
    display: flex;
}

.Titulo {
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(176, 196, 222, 0.9);
    text-align: center; 
    margin-top: 0.02%;
    margin-bottom: 0.02%;
}

.dropbtn {
    background-color: pink;
    color: black;
    margin-top: 10px;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.Dropdown {
    position: relative;
    display: inline-block;
}

.DropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.a-Indice {
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
}

.a-Indice:hover {
    background-color: rgb(176, 196, 222);
}

.Dropdown:hover .DropContent {
    display: block;
}

.Dropdown:hover .dropbtn {
    background-color: rgb(176, 196, 222);
}

.ul-Certificados{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.ul-Idiomas{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
.a-Certificados {
    color: black;
    text-align: center;
    text-decoration: none;
}

.p-SobreMi {
    margin-left: 15%;
    margin-right: 15%;
}

.p-InteresesPersonales {
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    margin-left: 35%;
    margin-right: 35%;
    font-size: 20px;
    background-color: rgb(176, 196, 222);
    line-height: 30px;
    border-radius: 25px;
    text-align: center; 
}

h4 {
    font-size: 20px;
    color: rgb(77, 77, 182);
    text-align: center; 
}

main {
    text-align: center;
    line-height: 40px;
}

dd{
    text-align: center;
    margin: 0;
    padding: 0; 
}

footer {
    font-size: 20px;
    color: black;
    background-color: white;
    text-align: center;
}

.MiniImg {
    width: 2%;
}

.MiniImg2 {
    width: 1.5%;
}

.Skills{
    text-align: justify;
    margin-left: 40%;
}

.MiniText{
    margin: 0;
    font-size: 15px;
}